/Source/UnityProj/Assets/IFix/Binding.meta
/Source/UnityProj/Assets/IFix/Binding
/Source/UnityProj/Library
/Source/UnityProj/AndroidBuild
/Source/UnityProj/obj
/Source/UnityProj/Logs
/Source/UnityProj/.idea
/Source/UnityProj/.vs
/Source/UnityProj/Assembly-CSharp-firstpass.csproj
/Source/UnityProj/Assembly-CSharp-firstpass.patch.bytes
/Source/UnityProj/UnityProj.sln
/Source/UnityProj/UnityProj.sln.DotSettings.user
/Source/UnityProj/Assembly-CSharp.csproj
/Source/UnityProj/Assembly-CSharp.dll
/Source/UnityProj/Assembly-CSharp.patch.bytes
/Source/UnityProj/Assembly-CSharp-Editor.csproj
/Source/UnityProj/ProjectSettings
/Source/UnityProj/buildexe
/Source/UnityProj/buildvs
/Source/UnityProj/buildvs2
/Source/VSProj/vs2013/.idea
/Source/VSProj/vs2013/obj
/Source/VSProj/vs2013/IFix.sln.DotSettings.user
/Source/UnityProj/Temp
/Source/VSProj/Lib
/Source/VSProj/Bin
/Source/VSProj/Data
/Source/UnityProj/UserSettings
/Source/UnityProj/Assets/Plugins/IFix.Core.pdb.meta
/Source/UnityProj/Assets/Plugins/IFix.Core.dll
/Source/UnityProj/Assets/Plugins/IFix.Core.pdb
/Source/UnityProj/IFixToolKit/IFix.exe.mdb
/Source/UnityProj/IFixToolKit/IFix.exe
/Source/UnityProj/Packages
/Source/UnityProj/Assets/Resources.meta
/Source/UnityProj/Assets/Resources
/Source/VSProj/Instruction.cs
/Source/VSProj/ShuffleInstruction.exe
